/* Ensure padding is included in width/height calculations */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.whole-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whole-page.light {
    background-color: #ffffff;
    color: #000000;
}

.whole-page.dark {
    background-color: #121212;
    color: #ffffff;
}